<div class="container">
  <h2>Student List</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Availability</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of bookList" [routerLink]="['/books',book.id ]">

      <td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.available ? 'Yes' : 'No' }}</td>
    </tr>
    </tbody>
  </table>

</div>
